Source: ros-kinetic-laser-pipeline
Section: misc
Priority: extra
Maintainer: David Gossow <dgossow@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://www.ros.org/wiki/laser_pipeline
Standards-Version: 3.9.2

Package: ros-kinetic-laser-pipeline
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-laser-assembler, ros-kinetic-laser-filters, ros-kinetic-laser-geometry
Description: Meta-package of libraries for processing laser data, including converting laser data into 3D representations.
